services:
  postgres:
    image: postgres:16
    container_name: my_postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: anb-dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432" # Puerto maquina (pgadmin)local DB 5433 -> contenedor DB 5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
